<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>DB6FA205-083D-48FF-8017-8AC0BAA34056</string>
	<key>title</key>
	<string>Beach Day (Light)</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
